main {
    margin-left: 245px;
}
footer {
    margin-left: 245px;
}

@media screen and (max-width: 700px) {


    footer {
        margin-left: 0;
    }
    main {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    footer {
        margin-left: 0;
    }
     main {
        margin-left: 0;
    }
}
