@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_UserLayout";
}

<style>
    body {
        align-items: center;
    }

    .card {
        width: 900px;
        border-radius: 20px;
        border-color: white;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        justify-items: center;
    }

    button {
        border-radius: 20px;
        border: 1px solid #feffff;
        background-color: #075264;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

        button:active {
            transform: scale(0.85);
        }

        button:focus {
            outline: none;
        }
    .form-control {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 70%;
        height: 45px;
        border-radius: 20px;
    }

</style>

<div class="card" style="margin-left:100px">
    <div class="row">
        <div class="col-md-5">
            <!-- <img src="C:\Users\HP\Desktop\Final Project\Final_Project\Final_Project\Final_Project\img\ecommerce-india.jpg" style="width:100px ;height:100px" />-->
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Phone"></label>
                        <input asp-for="Input.Phone" class="form-control" />
                        <span asp-validation-for="Input.Phone" class="text-danger"></span>
                    </div>
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
