@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


<h2 class="text-center">Hello Admin</h2>
<p class="text-center">Here we will give you statistics of our websites Orders and Visitors</p>


<h3 class="text-center mt-5">This Month we have @ViewBag.NumOfOrders Orders</h3>